body {
	background-color: beige;
	background-image: url(school.png);
}

#main {
	background-image: url(swirl.png);
	font-family: "Times";
	margin-top: 10px;
	margin-left:100px;
	margin-right:100px;
	padding: 20px;
	border-radius: 20px;	
}

a {
	text-decoration: none;
	color: orange;
}

a:hover { color: red }
a:visited { color: grey }

form select, form button {
	font-size: 18px;
	border-radius: 5px;
	font-family: "Courier";
	background-color: beige;
}

form button:hover {
	background-color: grey;
}
