body {
	background-color: beige;
	background-image: url(school.png);
}

h1, h2, h3 {
	font-family: Georgia;
}

#main {
	background-image: url(swirl.png);
	margin-top: 10px;
	margin-left:100px;
	margin-right:100px;
	padding: 20px;
	border-radius: 20px;	
}

#main p, a, form select, form button, form {
	font-size: 20px;
	font-family: Garamond;
}

.answer_box {
	background-color: beige;
	text-align: center;
	padding: 10px;
	margin: 20px;
	border-radius: 15px;
}

.quiz_false {
	background-color: red;
	color: white;
}

a {
	text-decoration: none;
	color: orange;
}

a:hover { color: red }
a:visited { color: grey }

form select, form button {
	border-radius: 5px;
	background-color: beige;
}

form button:hover {
	background-color: grey;
}
